# dependencies
/node_modules

# next.js
/.next/
/out/

# testing
/coverage

# generated at build time by scripts/build-badges.mjs
/public/badges/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# env files
.env*

# typescript
*.tsbuildinfo
next-env.d.ts
